.SignUpForm {
	height: auto;
	display: block;
	padding: 20px;
}

.SignUpForm input {
	text-align: center;
	border: none;
	border-bottom: solid;
	border-width: 2px;
	border-color: white;
	background-color: transparent;
	font-size: 18px;
	width: 200px;
	min-width: auto;
	-webkit-transition: width .5s; /* Safari */
    transition: width .5s;
    margin-top: 5px;
}

.SignUpForm input:focus {
	border: none;
	border-bottom: solid;
	border-width: 3px;
	max-width: 300px;
}

.SignUpForm label {
	font-size: 20px;
}

.SignUpForm label:hover {
	color: #dadada;
}

.leftColumn {
	position: relative;
	top: 10%;
	text-align: center;
}

.rightColumn {
	position: relative;
	top: 10%;
	text-align: center;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
}

.buttonContainer{
	width: 100%;
	display: block;
	clear: both;
	margin-top: 5%;
	text-align: center;
}

#signUpSubmit-button {
	background-color: #3d88a3;
	position: relative;
	color: white !important;
	border: none;
	font-size: 14px;
	padding: 10px;
	-webkit-box-shadow: 0 0 50px -10px #000000;
  	box-shadow: 0 0 10px -3px #000000;
}

#signUpSubmit-button:active {
	-webkit-box-shadow: inset 0px 0px 15px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 15px #c1c1c1;
   	box-shadow: inset 0px 0px 15px #c1c1c1;
   	outline: none;
}

/*START MEDIA QUERIES*/

@media screen and (min-width: 981px) {
	#signUpSubmit-button {
		margin: 20px 0px;
	}
	.SignUpForm {
		margin: auto;
		padding: 0% 15%;
	}
	.leftColumn {
		display: inline-block;
	}
	.rightColumn {
		display: inline-block;
		float: right;
	}
}

@media screen and (max-width: 980px) and (min-width: 769px) {
	#signUpSubmit-button {
		margin: 20px 0px;
	}
	.SignUpForm {
		margin: auto;
		padding: 0% 15%;
	}
	.leftColumn {
		display: inline-block;
	}
	.rightColumn {
		display: inline-block;
		float: right;
	}
}

@media screen and (max-width: 768px) and (min-width: 641px) {
	.SignUpForm {
		padding: 0px;
	}
	#signUpSubmit-button {
		margin: 20px 0px;
	}
	.leftColumn {
		margin: auto;
	}
	.rightColumn {
		text-align: center;
		margin: auto;
		margin-top: 20px;
	}
}

@media screen and (max-width: 640px) {
	.SignUpForm {
		padding: 0px;
	}
	#signUpSubmit-button {
		margin: 20px 0px;
	}
	.leftColumn {
		margin: auto;
	}
	.rightColumn {
		text-align: center;
		margin: auto;
		margin-top: 20px;
	}
}
