a:hover {
  cursor: pointer;
  /*background-color: purple;*/
}

.underlinedText {
  cursor: pointer;
  display: inline-block;
}

.underlinedText:after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
  width: 100%;
}

.noUnderline {
  cursor: pointer;
  display: inline-block;
}

.noUnderline:after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}

.noUnderline:hover:after {
  width: 100%;
}


#signUpLink {
  color: white;
}

.navbar {
  margin-bottom: 0px;
  height: 100px;
  background-color: rgba(1,1,1,0.3) !important;
  -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,1);
  box-shadow: 0 0 50px 0 rgba(0,0,0,1);
  padding-left: 10%;
  padding-right: 10%;
  position: absolute;
  z-index: 100;
  width: 100%;
}

#signUpLink {
  padding: 20px 5px;
}

.modal-title {
  padding-left: 15px;
}

#testing {
  text-align: center;
}

.navbar-brand {
  margin-top: 0px;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  opacity: 1;
}

.navbar-brand:hover {
    opacity: 0.85;
}


/*login button*/
.navbar-light .navbar-nav .nav-link.active {
  color: white;
  padding: 20px;
  border-radius: 5px;
   background-color: #002968;
  color: white;
  transition: all 1s;
/*  padding-top: 10px;
  padding-bottom: 15px;
  margin-top: .5rem;*/
}


a.loginButton.nav-link.active:hover {
  background-color: #fcca0c;
  color: #2b2b2b;
  /*opacity: 0.85;*/
}
/*end login button*/

#brewery-name {
  font-size: 30px;
  color: white;
}

/*When you click the dropdown menu*/
.nav-pills .show > .nav-link {
	border: solid;
	border-width: 1px;
	border-color: #2b2b2b;
	background-color: transparent;
	 /*-moz-transition: all 1s ease-in;*/
    /* WebKit */
    /*-webkit-transition: all 1s ease-in;*/
    /* Opera */
    /*-o-transition: all 1s ease-in;*/
    /* Standard */
    /*transition: all 1s ease-in;*/
}

.navbar-light .navbar-brand:hover {
	/*background-color: transparent;*/
	opacity: 0.65;
}


.modal-dialog {
  height: 100vh;
}

.modal-content {
    margin-top: 25vh;
    margin-bottom: 25vh;
}

.tabs {
  position: absolute;
  top: 51%;
  left: 50%;
  height: 50%;
  min-width: 450px;
  transform: translate(-50%, -50%);
  color: black;
}

.tabs label {
  margin-top: -10px;
}

.tabs label, #slider {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  color: purple;
  width: 150px;
  height: auto;
  padding: 20px 0px;
}

label:hover {
  color: purple;
  cursor: pointer;
}

.tabs [type=radio] {
  display: none;   
}

/*.content {
  position: absolute;
  top: 50px; right: 0; bottom: 0; left: 0;
  background: white;
  padding: 20px;
  box-shadow: inset 0px 5px 5px -5px;
  display: none;
}*/

#slider {
  /*background-color: transparent;*/
  position: absolute;
  border-bottom: 3px solid red;
  margin: 7px 10px;
  transition: transform 0.5s;
  width: 130px;
  color: red;
}

[type=radio],#r1:checked ~ #slider {
  transform: translate(-300px, 0px);
}

[type=radio],#r2:checked ~ #slider {
  transform: translate(-155px, 0px);
}

/*[type=radio],#r3:checked ~ #slider {
  transform: translate(-150px, 0px);
}*/

[type=radio]:checked + label {
  color: red;
}

[type=radio]:checked + label + .content {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  #wrap {
    display: none;
  }
  #click-me-button {
    display: none;
  }
  .loginButton .nav-link {
    display: inline-block;
  }
  #signUpLink {
    display: none;
  }
  #logo-image {
    max-height: 25vh;
  }
  .loginText {
    cursor: pointer;
  }
  .signupText {
    cursor: pointer;
  }
  .logoContainer {
    max-height: 50vh;
  }
}

