#teamHeaderText {
  font-size: 40px;
  margin: 0px;
  color: black;
  padding: 10px 0px;
}

.queryContainer {
  position: absolute;
  display: none;
}

.teamBody {
  background-color: white;
  height: 100vh;
  overflow: hidden;
  padding-bottom: 5vh;
}

.teamHeader {
	width: 100%;
	height: 10vh;
  margin-top: 0px;
  background-color: white;
  padding: 1vh 0 0 0;
  -webkit-box-shadow: 0 0 30px -10px #000;
	box-shadow: 0 0 30px -10px #000;
  position: relative;
  z-index: 10;
}

#teamBackground{
  z-index: -10;
  float: left;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: -100vh;
}

.teamContainer {
  text-align: center;
  position: absolute;
  z-index: 1;
  height: 90vh;
  padding-bottom: 50px;
  overflow: scroll;
  width: 100vw;
  padding-top: 40px;
}

.teamContainer img {
  border-radius: 300px;
}

#container1 {
  width: 75vw;
  margin: auto;
  margin-bottom: 40px;
  clear: both;
}

  #team-member {
    width: 50%;
    margin: auto;
  }

  #team-member img {
    width: 50%;
    -webkit-box-shadow: 0 10px 15px -5px #000;
  box-shadow: 0 10px 15px -5px #000;
  margin-bottom: 20px;
  }

#container2 {
  width: 75vw;
  margin: auto;
  margin-bottom: 40px;
  clear: both;
}

  #robyn {
    display: inline-block;
    width: 50%;
  }

  #robyn img {
    width: 50%;
     -webkit-box-shadow: 0 10px 15px -5px #000;
    box-shadow: 0 10px 15px -5px #000;
    margin-bottom: 20px;
  }

  #jamison {
    display: inline-block;
    width: 50%;
  }
  #jamison img {
    width: 50%;
    -webkit-box-shadow: 0 10px 15px -5px #000;
    box-shadow: 0 10px 15px -5px #000;
    margin-bottom: 20px;
  }

#container3 {
  width: 75vw;
  margin: auto;
  margin-bottom: 40px;
  clear: both;
}

  #charlie {
    display: inline-block;
    width: 50%;
  }
  #charlie img {
    width: 50%;
    -webkit-box-shadow: 0 10px 15px -5px #000;
    box-shadow: 0 10px 15px -5px #000;
    margin-bottom: 20px;
  }

  #max {
    width: 50%;
    display: inline-block;
  }
  #max img {
    width: 50%;
    -webkit-box-shadow: 0 10px 15px -5px #000;
    box-shadow: 0 10px 15px -5px #000;
    margin-bottom: 20px;
  }

/*START MEDIA QUERIES*/

@media screen and (min-width: 981px) {
  
}

@media screen and (max-width: 980px) and (min-width: 769px) {
  
}

@media screen and (max-width: 768px) and (min-width: 641px) {

}

@media screen and (max-width: 640px) {
  .teamHeader {
    text-align: center;
  }
  #container1 {
    width: 100vw;
    clear: both;
  }
  #container2 {
    display: none;
  }
  #container3 {
    display: none;
  }
  .queryContainer {
    display: block;
    position: absolute;
  }
  #teamBackground img{
    width: 380%;
  }
  .teamHeader {
    height: 12vh;
  }
}