#teamHeaderText {
  font-size: 40px;
  margin: 0px;
  color: black;
}

.teamHeader {
	width: 100%;
	height: 10vh;
    margin-top: 0px;
    background-color: white;
    padding: 5vh 0 0 0;
    -webkit-box-shadow: 0 0 30px -10px #000;
	box-shadow: 0 0 30px -10px #000;
  margin-bottom: 40px;
}

.teamContainer {
  text-align: center;
}

.teamContainer img {
  border-radius: 300px;
}

#container1 {
  width: 75vw;
  margin: auto;
  margin-bottom: 40px;
}
  #don img {
    width: 20%;
    -webkit-box-shadow: 0 10px 15px -5px #000;
  box-shadow: 0 10px 15px -5px #000;
  margin-bottom: 20px;
  }

#container2 {
  width: 75vw;
  margin: auto;
  margin-bottom: 40px;
}

  #robyn {
    display: inline-block;
  }
  #robyn img {
     width: 50%;
     -webkit-box-shadow: 0 10px 15px -5px #000;
    box-shadow: 0 10px 15px -5px #000;
    margin-bottom: 20px;
  }

  #jamison {
    display: inline-block;
  }
  #jamison img {
    width: 50%;
    -webkit-box-shadow: 0 10px 15px -5px #000;
    box-shadow: 0 10px 15px -5px #000;
    margin-bottom: 20px;
  }

#container3 {
  width: 75vw;
  margin: auto;
  margin-bottom: 40px;
}

  #charlie {
    display: inline-block;
  }
  #charlie img {
    width: 50%;
    -webkit-box-shadow: 0 10px 15px -5px #000;
    box-shadow: 0 10px 15px -5px #000;
    margin-bottom: 20px;
  }

  #max {
    display: inline-block;
  }
  #max img {
    width: 50%;
    -webkit-box-shadow: 0 10px 15px -5px #000;
    box-shadow: 0 10px 15px -5px #000;
    margin-bottom: 20px;
  }