#teamHeaderText {
  font-size: 40px;
  margin: 0px;
  color: black;
}

.teamBody {
  background-color: white;
  height: 100vh;
  overflow: hidden;
  padding-bottom: 5vh;
}

.teamHeader {
	width: 100%;
	height: 10vh;
    margin-top: 0px;
    background-color: white;
    padding: 5vh 0 0 0;
    -webkit-box-shadow: 0 0 30px -10px #000;
	box-shadow: 0 0 30px -10px #000;
  margin-bottom: 40px;
}

#teamBackground{
  position: relative;
  z-index: 0;
  float: left;
  width: 100vw;
}

.teamContainer {
  text-align: center;
  position: absolute;
  z-index: 1;
  height: 80vh;
  padding-bottom: 50px;
  overflow: scroll;
  width: 100vw;
}

.teamContainer img {
  border-radius: 300px;
}

#container1 {
  width: 75vw;
  margin: auto;
  margin-bottom: 40px;
}

  #don {
    width: 50%;
    margin: auto;
  }

  #don img {
    width: 50%;
    -webkit-box-shadow: 0 10px 15px -5px #000;
  box-shadow: 0 10px 15px -5px #000;
  margin-bottom: 20px;
  }

#container2 {
  width: 75vw;
  margin: auto;
  margin-bottom: 40px;
  clear: both;
}

  #robyn {
    display: inline-block;
    width: 50%;
  }

  #robyn img {
    width: 50%;
     -webkit-box-shadow: 0 10px 15px -5px #000;
    box-shadow: 0 10px 15px -5px #000;
    margin-bottom: 20px;
  }

  #jamison {
    display: inline-block;
    width: 50%;
  }
  #jamison img {
    width: 50%;
    -webkit-box-shadow: 0 10px 15px -5px #000;
    box-shadow: 0 10px 15px -5px #000;
    margin-bottom: 20px;
  }

#container3 {
  width: 75vw;
  margin: auto;
  margin-bottom: 40px;
  clear: both;
}

  #charlie {
    display: inline-block;
    width: 50%;
  }
  #charlie img {
    width: 50%;
    -webkit-box-shadow: 0 10px 15px -5px #000;
    box-shadow: 0 10px 15px -5px #000;
    margin-bottom: 20px;
  }

  #max {
    width: 50%;
    display: inline-block;
  }
  #max img {
    width: 50%;
    -webkit-box-shadow: 0 10px 15px -5px #000;
    box-shadow: 0 10px 15px -5px #000;
    margin-bottom: 20px;
  }