.missionContainer {
	width: 80vw;
	height: 50vh;
	background-color: #2b2b2b;
	color: white;
	padding: 25vh 10vw;
}

#missionHeader {
  font-size: 25px;
  margin-bottom: 0px;
}

#missionText {
	font-size: 60px;
	font-style: italic;
	position: relative;
	z-index: 2;
  margin-top: 5vh;
}

#textBack {
	position: fixed;
	z-index: 1;
	width: 100%;
}

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.33, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

/*START MEDIA QUERIES*/

@media screen and (min-width: 981px) {
  
}

@media screen and (max-width: 980px) and (min-width: 769px) {
  
}

@media screen and (max-width: 768px) and (min-width: 641px) {

}

@media screen and (max-width: 640px) {
  
}