#socialModal {
  background: #151515;
  /*background-color: #3686A0;*/
  color: white;
  position: fixed;
/*  -webkit-transition: all 5000ms linear; 
   -moz-transition: all 5000ms linear; 
     -o-transition: all 5000ms linear; 
        transition: all 5000ms linear; /* custom */*/
  overflow: scroll;
  z-index: 100;
}

#socialModal a {
  text-decoration: none;
}

#socialModal ul {
  text-align: right;
  color: transparent;
}

#socialModal li {
  display: inline;
  margin: 0px 5px;
  background-color: transparent !important;
}

#socialModal.hideFooter {
  transform: translate3d(0, -100vh, 0);
}

#socialModal.showFooter {
  width: 100vw;
  height: 8vh;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.socialIcons img {
  display: inline-block;
  width: 4vh;
  padding: 1%;
  transition: all .15s cubic-bezier(0.000, 0.000, 0.230, 1);
}

img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.25); /* Safari */
  transform: scale(1.25);
}

/*START MEDIA QUERIES*/

@media screen and (min-width: 981px) {
  
}

@media screen and (max-width: 980px) and (min-width: 769px) {
  .socialIcons img {
    padding: 2% 1%;
  }
}

@media screen and (max-width: 768px) and (min-width: 641px) {
  .socialIcons img {
    padding: 2% 1%;
  }
}

@media screen and (max-width: 640px) {
  #socialModal ul {
    text-align: center;
    padding: 0px;
  }
  .socialIcons img {
    padding: 3% 1%;
  }
}
