.SignUpForm {
	text-align: center;
}

.SignUpForm input {
	text-align: center;
	border: none;
	border-bottom: solid;
	border-width: 2px;
	width: 100px;
	min-width: auto;
	-webkit-transition: width .5s; /* Safari */
    transition: width .5s;
}

.SignUpForm input:focus {
	border: none;
	border-bottom: solid;
	border-width: 2px;
	width: 200px;
	max-width: 300px;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
}

#signUpSubmit-button {
	background-color: #002968;
}
